---
layout: bootcamp
root: .
venue: Monash University
address: Faculty of Medicine, Nursing and Health Sciences (Krongold Centre (Building 5) / Room G19), Wellington Road, Clayton, Victoria 3800
country: Australia
humandate: Jun 02-04, 2014
humantime: 1:00 pm - 5:00 pm
startdate: 2014-06-02
enddate: 2014-06-04
latlng: -37.915211,145.134682
registration: restricted
instructor: ["Matthew Dimmock", "Damien Irving"]
contact: Matthew.Dimmock@monash.edu
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This three half-day hands-on bootcamp will cover basic concepts and tools including Python, Git and using the command line;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  This bootcamp is restricted to postgraduate students, post-docs and other researchers in the Australian biomedical imaging and the broader biomedicine community who have a basic familiarity with programming concepts like loops, conditionals, and arrays, but need help to translate this knowledge into practical tools to help them work more productively. Participation is primarily for, but not restricted to Monash University people.  There are 30 places available, so get in quick.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>  
   Participants are asked to bring their laptop with some specific software packages installed (see the setup instructions below for details). If you don't have a laptop, that's completely fine. We'll pair you up with someone who does. 
</p>

<p>
  <strong>Registration:</strong>
  All participants are required to register at the <a href="http://www.eventbrite.com.au/e/software-carpentry-bootcamp-for-biomedicine-registration-10829488291">Eventbrite</a> page. The registration process involves a 5-minute questionnaire about your previous programming experience, so that we can tailor the teaching materials to the knowledge of the audience.  We also require the head of each group to make a $50 donation to the Mozilla foundation for each PhD student or Post-doc that registers.  

<p>
  <strong>Links:</strong>
  Please view the <a href="https://etherpad.mozilla.org/2014-06-02-monash">Etherpad</a> for answers to many FAQs.
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->
<h2>Schedule</h2>

<table class="table table-striped">
  <tr> <td>Monday</td>     <td>13:00</td>  <td>Introduction to Python</td> </tr>
  <tr> <td></td>           <td>14:15</td>  <td>Break</td> </tr>
  <tr> <td></td>           <td>14:30</td>  <td>Loops and conditional statements</td> </tr>
  <tr> <td></td>           <td>16:00</td>  <td>Break</td> </tr>
  <tr> <td></td>           <td>16:15</td>  <td>Defensive programming</td> </tr>
  <tr> <td></td>           <td>17:00</td>  <td>Wrap-up</td> </tr>
  <tr> <td>Tuesday</td>    <td>13:00</td>  <td>Defensive programming continued</td> </tr>
  <tr> <td></td>           <td>14:15</td>  <td>Break</td> </tr>
  <tr> <td></td>           <td>14:30</td>  <td>Command-line execution</td> </tr>
  <tr> <td></td>           <td>16:00</td>  <td>Break</td> </tr>
  <tr> <td></td>           <td>16:15</td>  <td>Image processing</td> </tr>
  <tr> <td></td>           <td>17:00</td>  <td>Wrap-up</td> </tr>
  <tr> <td>Wednesday</td>  <td>13:00</td>  <td>Histogramming</td> </tr>
  <tr> <td></td>           <td>14:15</td>  <td>Break</td> </tr>
  <tr> <td></td>           <td>14:30</td>  <td>Scientific libraries</td> </tr>
  <tr> <td></td>           <td>16:00</td>  <td>Break</td> </tr>
  <tr> <td></td>           <td>16:15</td>  <td>An introduction to Git</td> </tr>
  <tr> <td></td>           <td>17:00</td>  <td>Wrap-up</td> </tr>
</table>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}
